.skill {
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* text-align: center; */
}

.heading{
    flex: 30%;
    text-align: center;
}

.skill .imgBx {
    max-width: 250px;
}

.skill .imgBx img {
    max-width: 100%;
}

.wrap {
    flex: 70%;
    margin:50px;
    perspective: 800px;
    perspective-origin: 50% 50%;
}

.cube {
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    animation: loop 20s infinite;
}

.cube img {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.cube img:nth-child(1) {
    transform: rotateY(0deg) translateZ(100px);
}

.cube img:nth-child(2) {
    transform: rotateY(90deg) translateZ(100px);
}

.cube img:nth-child(3) {
    transform: rotateY(180deg) translateZ(100px);
}

.cube img:nth-child(4) {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube img:nth-child(5) {
    transform: rotateX(90deg) translateZ(100px);
}

.cube img:nth-child(6) {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes loop {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(360deg) rotateY(360deg);}
}

@media (max-width: 950px) {
    .skill .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }

    .cube {
        width: 200px;
        height: 200px;
    }
}
