.App {
  text-align: center;
}

.display, .about{
  margin: 0% 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display{
  margin-top: -160px;
  margin-bottom: 50px;
}

.skill .education{
  height: 100vh;
}

@media (max-width:950px){
  .about{
      flex-direction: column;
      margin: 10% 5%;
  }

  h1{
    font-size: 18px;
  }

  h2{
      font-size: 14px;
  }

  h3{
    font-size: 12px;
  }

  .contentAb{
    width: 90vw;
  }

  .contentCo{
    width: 90vw;
  }

}
